@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


html, 
body {
  margin: 0;
  padding: 0;
  background-color: #fffed8;
}

.app {
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  // background: #000;
  gap: 5em;
}

.titlebox{
  width: 100%;
  height: 8vh;
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.landing {
  height: 92vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing__left{
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list-title{
  font-family: 'Kdam Thmor Pro', sans-serif;
}


.landing__right{
  flex-basis: 80%;
  // background: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.coupon{
  width: 30em;
  display: flex;
  flex-direction: row;
  // background: red;
  border-radius: 30px;
  background: #c5c5c5;

  &-left{
    flex-basis: 70%;
    padding: 2em 0em 2em 2em;
    display: flex;
    flex-direction: column;
    background: #cbffc0;
    border-radius: 30px;
  }

  &-right{
    padding: 2em 2em 2em 0em;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    // height: 60%;
  }

  &-value{
    padding: 0;
    margin: 0;
  }

  &-value{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
  }

  &-item-name{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  &-vendor-name{
    padding: 0;
    margin: 0;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  &-date{
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
}